<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>多多分帳 Line Bot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">

		<script type="text/javascript">
			function divShow(){
			document.getElementById("btnshow").style.display="block";
			document.getElementById("btnhref").innerHTML ="隱藏";
			document.getElementById("btnhref").href ="javascript:divhidden()";
			}
			function divhidden(){
			document.getElementById("btnshow").style.display="none";
			document.getElementById("btnhref").innerHTML ="展開";
			document.getElementById("btnhref").href ="javascript:divShow()"; 
			}
			function divShow2(){
			document.getElementById("btnshow2").style.display="block";
			document.getElementById("btnhref2").innerHTML ="隱藏";
			document.getElementById("btnhref2").href ="javascript:divhidden2()";
			}
			function divhidden2(){
			document.getElementById("btnshow2").style.display="none";
			document.getElementById("btnhref2").innerHTML ="展開";
			document.getElementById("btnhref2").href ="javascript:divShow2()"; 
			}
			function divShow3(){
			document.getElementById("btnshow3").style.display="block";
			document.getElementById("btnhref3").innerHTML ="隱藏";
			document.getElementById("btnhref3").href ="javascript:divhidden3()";
			}
			function divhidden3(){
			document.getElementById("btnshow3").style.display="none";
			document.getElementById("btnhref3").innerHTML ="展開";
			document.getElementById("btnhref3").href ="javascript:divShow3()"; 
			}
			function divShow4(){
			document.getElementById("btnshow4").style.display="block";
			document.getElementById("btnhref4").innerHTML ="隱藏";
			document.getElementById("btnhref4").href ="javascript:divhidden4()";
			}
			function divhidden4(){
			document.getElementById("btnshow4").style.display="none";
			document.getElementById("btnhref4").innerHTML ="展開";
			document.getElementById("btnhref4").href ="javascript:divShow4()"; 
			}
			function divShow5(){
			document.getElementById("btnshow5").style.display="block";
			document.getElementById("btnhref5").innerHTML ="隱藏";
			document.getElementById("btnhref5").href ="javascript:divhidden5()";
			}
			function divhidden5(){
			document.getElementById("btnshow5").style.display="none";
			document.getElementById("btnhref5").innerHTML ="展開";
			document.getElementById("btnhref5").href ="javascript:divShow5()"; 
			}
			function divShow6(){
			document.getElementById("btnshow6").style.display="block";
			document.getElementById("btnhref6").innerHTML ="隱藏";
			document.getElementById("btnhref6").href ="javascript:divhidden6()";
			}
			function divhidden6(){
			document.getElementById("btnshow6").style.display="none";
			document.getElementById("btnhref6").innerHTML ="展開";
			document.getElementById("btnhref6").href ="javascript:divShow6()"; 
			}
		</script>
	</head>
	<body style="font-family:Microsoft JhengHei;">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<!--<a href="index.html" class="logo">帳獒</a>-->
					<!--
					<nav id="nav">
						<a href="index.html">首頁</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
					</nav>
					
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
					-->
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" class="wrapper style1 special">

				<h1>多多分帳<br><br>欠款分帳小能手<br>債務處理不囉嗦</h1>
				<p>ACCOUNT ON ME, COUNT ON ME !</p>
		</section >

		<!-- Service -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3><img width="32px" src="https://www.flaticon.com/svg/static/icons/svg/544/544570.svg"> 如何使用多多分帳(拆帳)?</h3>
							</header>
							<p>快點把我加進好友與群組跟我玩!</p>
							<footer>
								<a href="javascript:divShow();" id="btnhref" class="button special">展開</a>
								<div  style="display: none;" id="btnshow"><br>
									<p align="center"><strong>
									<br>第一步、<br>加好友<br><br>
									<a href="https://line.me/R/ti/p/%40499wdtzx">
										<img align="center" src="https://imgur.com/6q0nqQ8.png" width="300px"><br>
										</img>
										LineID:40499wdtzx
									</a><br>
									<br>第二步、<br>把多多分帳加進群組，點擊選單中設定分帳者<br><br>
									<img align="center" src="https://imgur.com/4rXNNui.jpg" width="300px"><br>
									</img>
									<br>第三步、<br>設定完分帳者後點擊確認<br><br>
									<img align="center" src="https://imgur.com/bhyNHqA.png" width="300px"><br>
									</img>
									<br>第四步、<br>點選記錄分帳(可選擇分類、輸入項目、金額、選擇付錢者與分帳者)<br><br>
									<img align="center" src="https://imgur.com/kWnbXoS.png" width="300px"><br>
									</img>
									<br>第五步、<br>點擊查帳結算，查看下列圖表<br><br>
									帳目清單<br><br>
									<img align="center" src="https://imgur.com/cuvSm7p.png" width="300px"><br>
									</img>
									<br>應收/應付圖表<br><br>
									<img align="center" src="https://imgur.com/fcndqH5.png" width="300px"><br>
									</img>
									<br>群組消費統計<br><br>
									<img align="center" src="https://imgur.com/dXvPDsa.png" width="300px"><br>
									</img>
								</strong></p>
								</div>
							</footer>
						</article>
						<article>
							<header>
								<h3><img width="32px" src="https://www.flaticon.com/svg/static/icons/svg/544/544570.svg"> 如何使用多多進行欠款記錄?</h3>
							</header>
							<p>欠錢不要欠過年!</p>
							<footer>
								<a href="javascript:divShow2();" id="btnhref2" class="button special">展開</a>
								<div  style="display: none;" id="btnshow2"><br>
									<p align="center"><strong>
										<br>第一步、<br>加好友<br><br>
										<a href="https://line.me/R/ti/p/%40499wdtzx">
											<img align="center" src="https://imgur.com/6q0nqQ8.png" width="300px"><br>
											</img>
											LineID:40499wdtzx
										</a><br>
										<br>第二步、<br>展開選單，點選記錄欠款<br><br>
										<img align="center" src="https://imgur.com/HVtptNU.png" width="300px"><br>
										</img>
										<br>第三步、<br>拉到頁面下方進行人名設定後，點擊確認<br><br>
										<img align="center" src="https://imgur.com/MP6SBhH.png" width="300px"><br>
										</img>
										<br>第四步、<br>進行欠款記錄<br><br>
										<img align="center" src="https://imgur.com/cUnymsn.png" width="300px"><br>
										</img>
										<br>第五步、<br>點擊查詢欠款，查看下列圖表<br><br>
										欠款記錄<br><br>
										<img align="center" src="https://imgur.com/ya8e1kx.png" width="300px"><br>
										</img>
										<br>欠款統計圖<br><br>
										<img align="center" src="https://imgur.com/44zqAwJ.png" width="300px"><br>
										</img>
									</strong></p>
								</div>
							</footer>
						</article>
						<article>
							<header>
								<h3><img width="32px" src="https://www.flaticon.com/svg/static/icons/svg/544/544570.svg"> 如何使用多多進行記帳?</h3>
							</header>
							<p>可以在Line輸入框中輸入以下指令命令多多哦!</p>
							<footer>
								<a href="javascript:divShow3();" id="btnhref3" class="button special">展開</a>
								<div  style="display: none;" id="btnshow3"><br>
									<p align="center"><strong>
										<br>第一步、<br>加好友<br><br>
										<a href="https://line.me/R/ti/p/%40499wdtzx">
											<img align="center" src="https://imgur.com/6q0nqQ8.png" width="300px"><br>
											</img>
											LineID:40499wdtzx
										</a><br>
										<br>第二步、<br>展開選單，點選記帳<br><br>
										<img align="center" src="https://imgur.com/e9Yqpsy.png" width="300px"><br>
										</img>
										<br>第三步、<br>選擇分類並輸入項目與金額後，點擊確認<br><br>
										<img align="center" src="https://imgur.com/jdNF5HW.png" width="300px"><br>
										</img>
										<br>第四步、<br>點擊查詢欠款，查看下列圖表<br><br>
										帳目清單<br><br>
										<img align="center" src="https://imgur.com/KLF1EV6.png" width="300px"><br>
										</img>
										<br>目前消費統計圖<br><br>
										<img align="center" src="https://imgur.com/CyYbhfU.png" width="300px"><br>
										</img>
									</strong></p>
								</div>
							</footer>
						</article>
					</div>
				</div>
			</section>

			<section id="banner" class="wrapper style1 special">
				<h1>多多<br><br>指令總覽</h1>
				<p>ACCOUNT ON ME, COUNT ON ME !</p>
			</section>
			<br><div>
				<article align="left">
					<header>
					<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<h3><img width="32px" src="https://www.flaticon.com/svg/static/icons/svg/2694/2694962.svg"> 群組中的分帳指令</h3>
					<h4>@選單</h4>
					<p>查看主選單</p>
					<h4>@分帳設定 人名1 人名2 人名3 ...     <br>---例如:@分帳設定 小貓 小狗 小豬</h4>
					<p>將人名存進分帳者中，可供記錄分帳時選擇</p>
					<h4>@設定查詢</h4>
					<p>查看已經設定過的人</p>
					<h4>@分帳 項目#分類 付錢的人名 分帳者1 分帳者2 ...     <br>---例如:@分帳 義大利麵#餐飲 600 小貓 小狗 小豬</h4>
					<p>進行分帳，切記人名必須是已經進行分帳者設定的人</p>
					<h4>@查帳</h4>
					<p>查看帳目清單</p>
					<h4>@結算</h4>
					<p>查看最終的簡化版結算</p>
					<h4>@help</h4>
					<p>查看使用說明</p>
					</div>
					</header>
					<header>
					<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<h3><img width="32px" src="https://www.flaticon.com/svg/static/icons/svg/1069/1069132.svg"> 個人頁面欠款指令</h3>
					<h4>@欠款設定 人名1 人名2...     <br>---例如:@欠款設定 小貓 小狗 小豬</h4>
					<p>將人名存進欠/借款者中，可供記錄分帳時選擇</p>
					<h4>@設定查詢</h4>
					<p>查看已經設定過的人</p>
					<h4>我欠 人名 項目 金額     <br>---例如:我欠 小貓 貓罐頭 100</h4>
					<p>記錄欠款</p>
					<h4>我借 人名 項目 金額     <br>---例如:我借 小狗 狗糧 100</h4>
					<p>記錄借款</p>
					<h4>@help</h4>
					<p>查看使用說明</p>
					</div>
					</header>
					<header>
					<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<h3><img width="32px" src="https://www.flaticon.com/svg/static/icons/svg/1583/1583255.svg"> 個人頁面記帳指令</h3>
					<h4>@記帳 分類/項目 金額     <br>---例如:@記帳 食/義大利麵 100</h4>
					<p>進行記帳</p>
					<h4>@查帳</h4>
					<p>查看帳目與圖表</p>
					<h4>@help</h4>
					<p>查看使用說明</p>
					</div>
					</header>
				</article>
			</div>

			<section id='banner' class="wrapper style1 special">
				<h1>多多分帳<br><br>預計推出功能<br>與未來展望</h1>
				<p>ACCOUNT ON ME, COUNT ON ME !</p>
			</section>
			<br><div>
				<article align="left">
					<header>
					<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<h3><img width="32px" src="https://www.flaticon.com/svg/static/icons/svg/3181/3181928.svg"> 與Line Pay做結合</h3>
					與LINE Pay做連結，以及LINE提供的相關服務，如旅遊、購物等方面，皆與金錢有關係。期許未來能夠更近一步做連結，從而讓使用者方便使用、增加LINE公司的金流，發展出彼此的商業模式。
					</div>
					</header>
					<header>
					<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<h3><img width="32px" src="https://www.flaticon.com/svg/static/icons/svg/621/621557.svg"> 預付款功能</h3>
					預付款可作為群組中的共同基金
					</div>
					</header>
					<header>
					<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<h3><img width="32px" src="https://www.flaticon.com/svg/static/icons/svg/621/621551.svg"> 掃描發票</h3>
					在記帳/分帳部分，除了手動輸入之外，希望藉由掃描發票上的QRcode後輸入項目及金額，並供使用者選擇分類。
					</div>
					</header>
					<br>
					</header>
				</article>
			</div>
					
				<section id="banner" class="wrapper style1 special">
					<div class="inner">
						<header>
							<h2>多多分帳<br>Q&A</h2>
							<p>ACCOUNT ON ME, COUNT ON ME !</p>
						</header>
				</section>
				<div>
					<article align="left">
						<header>
						<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
						<h3>Q1. 可不可以多位代墊人?</h3>
						A1. 不行，只能有一位代墊者哦!						
						</div>
						</header>
						<header>
						<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
						<h3>Q2. 要怎麼直接在群組中進行分帳或其他指令(不需要透過網頁)?</h3>
						A2. 可以直接輸入「@分帳 項目 金額 代墊人 分帳者1 分帳者2 ...」或輸入其他指令，就不用載入網頁了哦!
						</div>
						</header>
						<header>
						<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
						<h3>Q3. 分帳時可不可以每個人付不同的錢?</h3>
						A3. 目前不行~但多多分帳團隊正在努力開發中!
						</div>
						</header>
						<header>
						<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
						<h3>Q4. 如何不忘記處理帳務?</h3>
						A4. 可以把多多分帳置頂在聊天最頂端哦!
						</div>
						</header>
						<header>
						<div style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
						<h3>Q5. 為什麼多多分帳叫多多分帳?</h3>
						A5. 多多是一隻白文鳥，同時也是我們的團寵。希望使用者能多多分帳、多多記帳、多多處理債務，欠錢不能欠過年!
						</div>
						<br>
						</header>
					</article>
				</div>
		<!-- Team -->
			<section id="banner" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>多多團隊成員</h2>
						<p>ACCOUNT ON ME, COUNT ON ME !</p>
					</header>
			</section>
			<br>
			<div class="flex flex-4" align="center">
				<div class="box person" style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<div class="image round">
						<img src="https://imgur.com/Qn1Q1W2.jpg" alt="Person 4" />
					</div>
					<h3>Dr.多多</h3>
					<p>成大鼠巴拉系博士後研究生</p>
				</div>
				<div class="box person" style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<div class="image round">
						<img src="https://imgur.com/XMpNtmO.jpg" alt="Person 1" />
					</div>
					<h3>吳柏震</h3>
					<p>成大光電大三</p>
				</div>
				<div class="box person" style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<div class="image round">
						<img src="https://imgur.com/X5PhZif.jpg" alt="Person 2" />
					</div>
					<h3>高子承</h3>
					<p>成大光電大四</p>
				</div>
				<div class="box person" style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<div class="image round">
						<img src="https://imgur.com/y5n8D29.jpg" alt="Person 3" />
					</div>
					<h3>葉蓉梅</h3>
					<p>成大企管碩一</p>
				</div>
				<div class="box person" style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<div class="image round">
						<img src="https://imgur.com/iMbymi6.jpg" alt="Person 4" />
					</div>
					<h3>林瑋晟</h3>
					<p>成大光電大三</p>
				</div>
				<div class="box person" style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<div class="image round">
						<img src="https://imgur.com/keptJ0Z.jpg" alt="Person 4" />
					</div>
					<h3>謝涵羽</h3>
					<p>成大光電大一</p>
				</div>
				<div class="box person" style="border-width:3px;border-style:dashed;border-color:#cea374;padding:5px;margin:40px">
					<div class="image round">
						<img src="https://imgur.com/y2cK6oD.jpg" alt="Person 4" />
					</div>
					<h3>詹于慶</h3>
					<p>成大不分系大二</p>
				</div>
			</div>
		</div>

			<!--<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Q&A</h2>
					</header>
					
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="images/pic01.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>動機</h3>
							</header>
							<p>在生活上我們常常會一起旅遊、聚餐、代買餐食、借錢等情況，接著就會遇到「錢難算」的窘境，這時免不了開始斤斤計較，各種情況下開始發生忘記記錄共同分攤的帳目、帳務不清、拆帳計算困難、收錯錢、不好意思開口要對方還錢等狀況。我們總說：「談錢傷感情，不談錢沒感情。」因此，把錢算清楚，解決帳目混亂而造成拆帳困難的問題，並且減少人與人之間的嫌隙，是我們主要的目的。</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="images/pic02.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>服務功能架構</h3>
								<img src="https://imgur.com/Nh0AMs5.jpg" width="300px"></img>
							</header>
							<p></p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
					
				</div>
			</section>-->

		<!-- Footer -->
			<footer id="footer" align="center">
				<h3>聯繫我們 !</h3>
				<div class="inner">
						<ul class="icons">
							<br>
							<li><a href="https://www.facebook.com/多多分帳-116515726874139/?view_public_for=116515726874139"><img width="120px" src="https://www.flaticon.com/svg/static/icons/svg/3435/3435918.svg"></a></li>
							<li><a href="https://instagram.com/count_on_duoduo?igshid=j6ixclmb6leu"><img width="120px" src="https://www.flaticon.com/svg/static/icons/svg/3437/3437390.svg"></a></li>
						</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/skel.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/util.js')}}"></script>
			<script src="{{url_for('static', filename='js/main.js')}}"></script>
	</body>
</html>